#disable_html_escaping()
#if ($value)
<a href="http://www.google.com/search?btnI=1&q=$value">$textutils.htmlEncode($value)</a>
<a class="subText nowrap" style="padding-left: 5px;" href="${requestContext.baseUrl}/secure/IssueNavigator.jspa?reset=true&${customField.id}=${value}">(Find related issues)</a>
#end